*{
	background-color: #2D2E33;
	color: #FFFF;
}

.links{
	color: #506CFF;
}

img{
	margin-bottom: 20px;
}

input{
	text-align: center;
}

main{
	text-align: center;
	margin-bottom: 150px;
}

footer{
	text-align: center;
}

.wide_text{
	resize: none;
}