<body class="cuerpo">
	<header class="cabecera">
		<ul class="nave">
		    <li class="elem"><a class="cadaElem" href="LogIn">Iniciar sesión</a></li>
		    <li class="elem"><a class="cadaElem" href="Register">Registrarse</a></li>
		</ul>
	    <div class="sobre"> <a class="cadaElem" href="sobreNosotros">Sobre nosotros</a> </div>
	    <div class="colab"> <a class="cadaElem" href="colabora">Colabora</a> </div>
	    <div class="ong"> <a class="cadaElem" href="ongColaboradoras">ONG colaboradoras</a> </div>
	    <a href="MainPage"><img src="assets/images/logo.png" alt="Logo" class="logo"></a>
	</header>
    
	<div class="cuerpo">
		<div class="Notificated_animal_structure">
			<section>
				{{animal[0].name}}
				<br>
				<img src="{{animal[0].images}}">
				<br>
				<form action="">
					<ul class="previous_next">
						<li><button value="1" name="previous"><</button></li>
						<li><button value="1" name="next">></button></li>
					</ul>
				</form>
			</section>

			<section>
				Quieren conocer a {{animal[0].name}}
				<br>
				<textarea readonly="true">Lista de usuarios</textarea>
			</section>
		</div>
	</div>
</body>