<body class="cuerpo">
		<div>
		    <a href=""><img src="assets/images/logo.png" alt="Logo" class="logging_logo"></a>
		</div>
		
		<main class="logging_style">
			<img class="logging_image" src="assets/images/registrar_animal.png">
			<br><br>
			<img src="assets/images/dogandcat.png" class="logging_subimage">
			<br><br>
			Fotos del animal<br>
			<br>

			<!--CREATE-->
			<div *ngIf ='id == "X"'>
				<input type="file" id="animalimages" accept=".png, .jpeg, .jpg" multiple name="animal_images" style="font-size: 0.5rem">

				<br><br>
				<input type="text" id="animalname" pattern="([A-Z])([a-z]{1,})" required name="animalname" placeholder="Nombre">

				<select id="tipe" required name="race">
					<option value="perro">Perro</option>
					<option value="gato">Gato</option>
				</select>

				<br><br>
				<textarea required id="animaldescription" class="topic_message" name="animal_description" placeholder="Descripcion del animal"></textarea>
				<br>

				<input type="hidden" id="foto" value="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/Animales%2Fdefecto.jpg?alt=media&token=9dab3b51-c6b2-47eb-ae8c-350d0d4be31f">
				<input type="submit" name="" (click)="addAnimal()" value="Registrar">
			</div>

			<!--UPDATE-->
			<div *ngIf ='id != "X"'>
				<input type="file" id="animalimages" accept=".png, .jpeg, .jpg" multiple name="animal_images" style="font-size: 0.5rem">

				<br><br>
				<input type="text" id="animalname" pattern="([A-Z])([a-z]{1,})" required name="animalname" [(ngModel)]="animal.name">

				<select id="tipe" required name="race">
					<option value="perro">Perro</option>
					<option value="gato">Gato</option>
				</select>

				<br><br>
				<textarea required id="animaldescription" class="topic_message" name="animal_description" [(ngModel)]="animal.description"></textarea>
				<br>

				<input type="hidden" id="foto" value="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/Animales%2Fdefecto.jpg?alt=media&token=9dab3b51-c6b2-47eb-ae8c-350d0d4be31f">
				<input type="submit" name="" (click)="updateAnimal(animal.id)" value="Modificar">
			</div>
		</main>
		
	</body>
