<body class="cuerpo">
    <div class="cabecera">
        <ul class="nave">
            <li class="elem"><a class="cadaElem" href="LogIn">Iniciar sesión</a></li>
            <li class="elem"><a class="cadaElem" href="Register">Registrarse</a></li>
        </ul>
        <div class="sobre"> <a class="cadaElem" href="sobreNosotros">Sobre nosotros</a> </div>
        <div class="colab"> <a class="cadaElem" href="colabora">Colabora</a> </div>
        <div class="ong"> <a class="cadaElem" href="ongColaboradoras">ONG colaboradoras</a> </div>
        <a href="MainPage"><img src="assets/images/logo.png" alt="Logo" class="logo"></a>
</div>

<div class="descripcion">En esta sección podrás conocer a todos los animales de nuestra organización. Podrás
    conocer a nuestros perros, a nuestros gatos y/o a todos los perros y gatos</div>


<div class="imagenes">
    <figure>
        <a href="perros" ><img src="assets/images/perros.jpg" alt="Perros" class="tam"></a>
        <figcaption class="cadaElem2">Perros</figcaption>
    </figure>
    <figure>
        <a href="gatos" class="cadaElem2"><img src="assets/images/gatos.jpg" alt="Gatos" class="tam"></a>
        <figcaption class="cadaElem2">Gatos</figcaption>
    </figure>
    <figure>
        <a href="perrosygatos" class="cadaElem2"><img src="assets/images/perro%20y%20gatos.jpg" alt="Perros" class="tam"></a>
        <figcaption class="cadaElem2">Perros y gatos</figcaption>
    </figure>

</div>

</body>