<body class="cuerpo">
		<div class="cabecera">
			<ul class="nave">
			    <li class="elem"><a class="cadaElem" href="LogIn">Iniciar sesión</a></li>
			    <li class="elem"><a class="cadaElem" href="Register">Registrarse</a></li>
			</ul>
		    <div class="sobre"> <a class="cadaElem" href="sobreNosotros">Sobre nosotros</a> </div>
		    <div class="colab"> <a class="cadaElem" href="colabora">Colabora</a> </div>
		    <div class="ong"> <a class="cadaElem" href="ongColaboradoras">ONG colaboradoras</a> </div>
		    <a href="MainPage"><img src="assets/images/logo.png" alt="Logo" class="logo"></a>
		</div>

		

		

		<main class="forumain">
			<div style="text-align: center; margin-bottom: 1rem; padding-top: 1rem;">
				<a  href="AddComment">Añadir Comentario</a>	
			</div>
			
			<div class="textbox" *ngFor="let comment of comments">
				<!--<b style="font-size: 1.8rem;">{{getName(comment.idautor)}}</b>-->
				<br>
				{{comment.texto}}
				<button (click)="deleteComment(comment.id)">Borrar</button>
			</div>

		</main>

		


	</body>