@media(min-width: 1024px){



    .notification_photo{
        color: white;
        display: inline-block;
        margin-bottom: 6.25rem;
    }

    .notification_photo img{
        width: 300px;
        height: auto;
    }

    .notification_photo figcaption{
        font-size: 1rem;
    }

    .notification_photo figcaption{
        text-align: center;
        font-size: 1.875rem;
    }

    .gallery{
        text-align: center;
        padding-top: 1rem;
    }

    .prueba3 {
        text-align: center;
        color: white;
    }

    .cabecera {
        width: 100%;
        height: auto;
        background: #5ECB69;
        position: relative;
        padding-top: 10rem;
        z-index: 1;
    }

    .cuerpo {
        background: #2D2E33;
    }

    .nave {
        list-style-type: none;
        position: absolute;
        top: 0;
        right: 0;
    }


    .elem {
        display: inline-block;
        padding: .875rem 1rem;
    }

    .cadaElem {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
    }

    .cadaElem2 {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        text-align: center;
    }

    .nave2 {
        list-style-type: none;
        margin-top: 6%;
        margin-bottom: -6%;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }

    .colab {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 45%;
    }

    .ong {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 75%;
    }

    .sobre {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 5%;
    }

    .logo {
        width: 75px;
        height: auto;
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 1%;
    }

    .imagenes {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 2%;
        margin-left: -2%;
        grid-column-gap: 2%;
    }

    .tam {
        width: 100%;
        height: auto;
    }

    .perros {
        float: left;
        margin-top: -31%;
        margin-left: 21%;
        font-size: 30px;
    }

    .gatos {
        float: left;
        margin-top: -31%;
        margin-left: 54%;
        font-size: 30px;
    }

    .perrosygatos {
        float: left;
        margin-top: -35%;
        margin-left: 78%;
        font-size: 30px;
    }

    .descripcion {
        font-size: 30px;
        color: white;
        margin-top: 3%;
    }

    .animales {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 2%;
        margin-left: 2%;
        grid-gap: 29%;

    }

    .dalma {
        font-size: 20px;
        color: white;
        margin-top: -23%;
        margin-left: -70%;
    }

    .coco {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -6%;
    }

    .luna {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .cleo {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -71%;
    }

    .rocky {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .tobby {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .bonnie {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -72%;
    }

    .zoe {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .niebla {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .parrafo {
        font-size: 24px;
        color: white;
        margin-top: 2%;
    }

    .auditorio {
        margin-left: 35%;
        margin-top: 2%;
    }

    .gala {
        margin-left: 25%;
        margin-top: -2%;
    }

    .adopcion {
        margin-left: 21%;
        margin-top: 2%;
    }

    .titulo {
        color: #5ECB69;
        font-size: 64px;
        /* margin-left: 39%; */
        margin-top: 8%;
        text-align: center;
    }

    .logo2 {
        float: left;
        margin-top: 1%;
        margin-left: -4%;
    }

    .col {
        margin-bottom: -99%;
        margin-top: 20%;
        margin-left: 14%;
    }

    .fondo {
        /* margin-bottom: -22%; */
        margin-top: -64%;
        opacity: 51%;
        width: 100%;
        /* position: fixed; */
        /* display: block; */
    }

    .fondo2 {
        width: 100%;
        margin-top: 0%;
    }

    .ong2 {
        float: right;
        margin-top: 20.5%;
    }

    .logo3 {
        float: left;
        margin-top: 2%;
        margin-left: -28%;
    }

    .fondoPantalla {
        background: #2D2E33
    }

    .rectangulo {
        width: 242px;
        height: 729px;
        background: #5ECB69;
    }

    .logo4 {
        float: left;
        margin-top: 0;
        margin-left: 0;
    }

    .animal {
        margin-top: 85%;
    }

    .raza {
        margin-top: 27%;
        margin-left: 39%;
    }

    .localizacion {
        margin-top: 29%;
        margin-left: 39%;
    }

    .a {
        margin-top: -92%;
        margin-left: 50%;
    }

    .r {
        margin-top: 28%;
        margin-left: 48%;
    }

    .s {
        margin-top: 30%;
        margin-left: 36%;
    }

    .adopta {
        margin-top: -30%;
        margin-left: 42%;
        font-size: 495%;
        opacity: 0;
    }

    .elec {
        font-size: 24px;
        color: white;

    }

    .eleccion {
        width: 450px;
        height: auto;
    }


    .elec1 {
        font-size: 24px;
        color: white;
    }


    .info1, .info2{
        float: left;
    }

    .info1{
        width: 30%;
        padding-left: 2rem;
        text-align: center;
        margin-right: 10%;
    }

    .info2 {
        padding-left: 6rem;
        width: auto;
    }

    .info2 textarea {
        resize: none;
        width: 500px;
        height: 150px;
    }

    .usuarios {
        margin-left: 39%;
        width: 46%;
    }

    .nombre {
        margin-top: -29%;
        margin-left: 7%;
    }

    .nombre2 {
        margin-top: -15%;
        margin-left: 7%;
    }

    .nombre3 {
        margin-top: 1%;
        margin-left: 7%;
    }

    .maps {
        padding-top: 1.5rem;
    }

    .prueba2 {
        display: block;
        color: white;
        text-decoration: none;
    }

    .prueba {
        width: 76%;
    }


}

@media screen and (min-width: 768px) and (max-width: 1023px){

    .tam {
        width: 500px;
        height: auto;
    }

    .notification_photo{
        color: white;
        display: inline-block;
        margin-bottom: 6.25rem;
    }

    .notification_photo img{
        width: 300px;
        height: auto;
    }

    .notification_photo figcaption{
        font-size: 1rem;
    }

    .notification_photo figcaption{
        text-align: center;
        font-size: 1.875rem;
    }

    .gallery{
        text-align: center;
        padding-top: 1rem;
    }

    .cabecera {
        width: 100%;
        height: auto;
        background: #5ECB69;
        position: relative;
        padding-top: 10rem;
        z-index: 1;
    }

    .cuerpo {
        background: #2D2E33;
    }

    .nave {
        list-style-type: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .elem {
        display: inline-block;
        padding: .875rem 1rem;
    }

    .cadaElem {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
    }

    .cadaElem2 {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        text-align: center;
    }

    .nave2 {
        list-style-type: none;
        margin-top: 6%;
        margin-bottom: -6%;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }

    .colab {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 45%;
    }

    .ong {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 75%;
    }

    .sobre {
        position: absolute;
        z-index: 2;
        top: 75%;
        left: 5%;
    }

    .sobre2 {
        float: left;
        margin-top: 17%;
        margin-left: -4%;
    }

    .logo {
        width: 60px;
        height: auto;
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 1%;
    }

    .imagenes {
        /* display: grid; */
        grid-template-columns: auto auto auto;
        margin-top: 6%;
        margin-left: -1%;
        text-align: center;
    }

    .imagenes figcaption {
        font-size: 1.5rem;
    }

    .perros {
        float: left;
        margin-top: -36%;
        margin-left: 16%;
        font-size: 30px;
    }

    .gatos {
        float: left;
        margin-top: -36%;
        margin-left: 50%;
        font-size: 30px;
    }

    .perrosygatos {
        float: left;
        margin-top: -36%;
        margin-left: 68%;
        font-size: 30px;
    }

    .descripcion {
        font-size: 30px;
        color: white;
        margin-top: 7%;
    }

    .animales {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 6%;
        margin-left: 4%;
        grid-gap: 4%;
        grid-row-gap: 5%;
    }

    .prueba {
        width: 76%;
    }

    .prueba2 {
        display: block;
        color: white;
        text-decoration: none;
    }

    .dalma {
        font-size: 20px;
        color: white;
        margin-top: -23%;
        margin-left: -70%;
    }

    .coco {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -6%;
    }

    .luna {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .cleo {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -71%;
    }

    .rocky {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .tobby {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .bonnie {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -72%;
    }

    .zoe {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .niebla {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .parrafo {
        font-size: 24px;
        color: white;
        margin-top: 3%;
    }

    .auditorio {
        margin-left: 31%;
        margin-top: 2%;
    }

    .gala {
        margin-left: 20%;
        margin-top: 0%;
        width: 63%;
        /* text-align: center; */
    }

    .adopcion {
        /* margin-left: 18%; */
        margin-top: 2%;
        /* text-align: center; */
        width: 66%;
        display: block;
        margin: auto;
    }

    .titulo {
        color: #5ECB69;
        font-size: 64px;
        /* margin-left: 32%; */
        text-align: center;
    }

    .logo2 {
        float: left;
        margin-top: -1%;
        margin-left: -14%;
    }

    .col {
        margin-bottom: -99%;
        margin-top: 17%;
    }

    .fondo {
        margin-bottom: -17%;
        margin-top: -56%;
        opacity: 51%;
        width: 100%;
    }

    .fondo2 {
        width: 100%;
    }

    .ong2 {
        float: right;
        margin-top: 17.5%;
    }

    .logo3 {
        float: left;
        margin-top: -2%;
        margin-left: -38%;
    }

    .fondoPantalla {
        background: #2D2E33
    }

    .rectangulo {
        width: 242px;
        height: 729px;
        background: #5ECB69;
    }

    .logo4 {
        float: left;
        margin-top: 0;
        margin-left: 0;
    }

    .animal {
        margin-top: 85%;
    }

    .raza {
        margin-top: 27%;
        margin-left: 39%;
    }

    .localizacion {
        margin-top: 29%;
        margin-left: 39%;
    }

    .a {
        margin-top: -92%;
        margin-left: 50%;
    }

    .r {
        margin-top: 28%;
        margin-left: 48%;
    }

    .s {
        margin-top: 30%;
        margin-left: 36%;
    }

    .adopta {
        margin-top: -30%;
        margin-left: 42%;
        font-size: 495%;
        opacity: 0;
    }

    .elec {
        font-size: 24px;
        color: white;

    }

    .eleccion {
        width: 450px;
        height: auto;
}


    .elec1 {
        font-size: 24px;
        color: white;
    }


    .info1, .info2{
        text-align: center;
    }

    .info1{
        white-space: pre;
    }

    .info2 textarea{
        resize: none;
        width: 80%;
        height: 150px;
    }

    .usuarios {
        margin-left: 37%;
        width: 65%;
    }
    .nombre {
        margin-top: -97%;
        margin-left: 13%;
    }

    .nombre2 {
        margin-top: -49%;
        margin-left: 13%;
        /* text-align: right; */
    }

    .nombre3 {
        margin-top: -24%;
        margin-left: 14%;
    }

    .maps {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 350px;
    }

}

@media screen and (max-width: 767px){

    .notification_photo{
        color: white;
        display: inline-block;
        margin-bottom: 6.25rem;
    }

    .notification_photo img{
        width: 300px;
        height: auto;
    }

    .notification_photo figcaption{
        font-size: 1rem;
    }

    .notification_photo figcaption{
        text-align: center;
        font-size: 1.875rem;
    }

    .gallery{
        text-align: center;
        padding-top: 1rem;
    }

    .cabecera {
        position: relative;
        z-index: 1;
        padding: 1%;
        text-align: center;
        background: #5ECB69;
        color: white;
        width: 100%;
    }

    .cabecera2 {
        position: relative;
        z-index: 1;
        padding: 13%;
        text-align: center;
        background: #5ECB69;
        color: white;
        width: 100%;
        margin: -1%;
    }



    .cuerpo {
        background: #2D2E33;
    }
    .nave {
        list-style-type: none;
        padding: 0;
    }

    .cadaElem {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .nave2 {
        list-style-type: none;
        margin-top: 6%;
        margin-bottom: -6%;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }

    .nave3 {
        list-style-type: none;
        padding: 0;
        margin-top: -10%;
    }

    .sobre2 {
        float: left;
        margin-top: -3%;
        margin-left: 0%;
    }

    .logo {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
        padding-top: 10px;
        z-index: 2;
        width: 70px;
        height: auto;
    }

    .imagenes {
        /* display: grid; */
        /* grid-template-columns: auto auto auto; */
        margin-top: 17%;
        margin-left: -1%;
        text-align: center;
    }

    .imagenes figcaption {
        font-size: 1.5rem;
    }

    .perros {
        float: left;
        margin-top: -36%;
        margin-left: 16%;
        font-size: 30px;
    }

    .gatos {
        float: left;
        margin-top: -36%;
        margin-left: 50%;
        font-size: 30px;
    }

    .perrosygatos {
        float: left;
        margin-top: -36%;
        margin-left: 68%;
        font-size: 30px;
    }

    .descripcion {
        font-size: 1.5rem;
        color: white;
        margin-top: 7%;
    }

    .animales {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 6%;
        margin-left: 0%;
        grid-gap: 3%;
        grid-row-gap: 7%;
    }

    .prueba {
        width: 76%;
    }

    .dalma {
        font-size: 20px;
        color: white;
        margin-top: -23%;
        margin-left: -70%;
    }

    .coco {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -6%;
    }

    .luna {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .cleo {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -71%;
    }

    .rocky {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .tobby {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .bonnie {
        font-size: 20px;
        color: white;
        margin-top: 11%;
        margin-left: -72%;
    }

    .zoe {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: -7%;
    }

    .niebla {
        font-size: 20px;
        color: white;
        margin-top: -3%;
        margin-left: 66%;
    }

    .parrafo {
        font-size: 16px;
        color: white;
        margin-top: 3%;
    }

    .auditorio {
        margin-left: 13%;
        margin-top: 2%;
        /* text-align: center; */
    }

    .gala {
        margin-left: 5%;
        margin-top: 0%;
        width: 90%;
    }

    .adopcion {
        margin-left: 2%;
        margin-top: 2%;
        width: 95%;
        /* text-align: center; */
    }

    .titulo {
        color: #5ECB69;
        font-size: 24px;
        /* margin-left: 32%; */
        text-align: center;
    }

    .logo2 {
        float: left;
        margin-top: -10%;
        margin-left: -9%;
    }

    .col {
        margin-bottom: -93%;
        margin-top: 10%;
        margin-left: 1%;
        /* text-align: center; */
    }

    .fondo {
        margin-bottom: 45%;
        margin-top: -45%;
        opacity: 51%;
        width: 100%;
        /* height: 1%; */
    }

    .fondo2 {
        width: 102%;
        margin-top: 0%;
        margin-left: -1%;
    }

    .ong2 {
        /* float: right; */
        margin-top: -3.5%;
        margin-left: 71%;
    }

    .logo3 {
        float: left;
        margin-top: -15%;
        margin-left: -16%;
        width: 13%;
    }

    .fondoPantalla {
        background: #2D2E33
    }

    .rectangulo {
        width: 242px;
        height: 729px;
        background: #5ECB69;
    }

    .logo4 {
        float: left;
        margin-top: 0;
        margin-left: 0;
    }

    .animal {
        margin-top: 85%;
    }

    .raza {
        margin-top: 27%;
        margin-left: 39%;
    }

    .localizacion {
        margin-top: 29%;
        margin-left: 39%;
    }

    .a {
        margin-top: -92%;
        margin-left: 50%;
    }

    .r {
        margin-top: 28%;
        margin-left: 48%;
    }

    .s {
        margin-top: 30%;
        margin-left: 36%;
    }

    .adopta {
        margin-top: -30%;
        margin-left: 42%;
        font-size: 495%;
        opacity: 0;
    }

    .elec {
        font-size: 24px;
        color: white;

    }

    .eleccion {
        width: 90%;
        height: auto;
}


    .elec1 {
        font-size: 24px;
        color: white;
    }


    .info1, .info2{
        text-align: center;
    }

    .info1{
        white-space: pre;
    }

    .info2 textarea{
        resize: none;
        width: 80%;
        height: 150px;
    }

    .usuarios {
        margin-left: 52%;
        width: 50%;
        margin-top: -8%;
        margin-bottom: 10%;
    }

    .nombre {
        margin-top: -103%;
        margin-left: 6%;
    }

    .prueba2 {
        display: block;
        color: white;
        text-decoration: none;
    }

    .nombre2 {
        margin-top: -51%;
        margin-left: 7%;
        /* color: white; */
    }

    .nombre3 {
        margin-top: -26%;
        margin-left: 5%;
    }

    .maps {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 80%;
    }

    .cadaElem2 {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        text-align: center;
    }

    .tam {
        width: 100%;
        height: auto;
    }

}