

	<body class="cuerpo">

		<div>
			<a href="MainPage"><img src="assets/images/logo.png" alt="Logo" class="logging_logo"></a>
		</div>

		<main class="logging_style">
			<img class="logging_image" src="assets/images/inicio_sesion.png">
			<br><br>
			<img class="logging_subimage" src="assets/images/profile_icon.png">
			<div>
				<input type="text" id="usermail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="mail" placeholder="Email" size="30">
				<br><br>
				<input type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" id="userpassword" required name="password" placeholder="Password">
				<br><br>
				<input type="button" (click)="loginCheck()" value="Entrar">
			</div>

			<!--form onsubmit="loginCheck()">
				<input type="text" id="usermail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="mail" placeholder="Email" size="30">
				<br><br>
				<input type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" id="userpassword" required name="password" placeholder="Password">
				<br><br>
				<input type="submit" value="Entrar">
			</form>-->

		</main>

		<footer class="logging_style">
			¿No tienes cuenta? <a href="Register">Registrarse</a>
		</footer>

	</body>