<body class="cuerpo">

		<div>
		    <a href="MainPage"><img src="assets/images/logo.png" alt="Logo" class="logging_logo"></a>
		</div>

		<main class="logging_style">
			<img class="logging_image" src="assets/images/registrarong.png">
			<br><br>
			<img class="logging_subimage" src="assets/images/profile_icon.png">
			<div>
				<input type="text" id="ongname" required name="nombre" placeholder="Nombre del refugio" size="30">
				<br><br>
				<input type="text" id="ongmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="mail" placeholder="Email" size="30">
				<br><br>
				<input type="text" id="onglocation" required name="location" placeholder="Direccion" size="30">
				<br><br>
				<input type="text" id="ongzipcode" pattern="[0-9]{5}" required name="postal" placeholder="Codigo postal" size="30">
				<br><br>
				<input type="text" id="ongnumber" pattern="[0-9]{9}" required name="number" placeholder="Numero de contacto" size="30">
				<br><br>
				<input type="password" id="ongpassword" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" required name="password" placeholder="Password" size="30">
				<br><br>
				<input type="button" (click)="registerONG()" value="Registrar">
			</div>
		</main>

		<footer class="logging_style">
			¿Ya tienes una cuenta? <a href="LogIn">Iniciar sesión</a>
		</footer>

	</body>