<ion-header>
</ion-header>

<ion-content>
	<div class="cabecera">
		<ul class="nave" *ngIf="getCurrentUser() == null">
			<li class="elem"><a class="cadaElem" href="LogIn">Iniciar sesión</a></li>
			<li class="elem"><a class="cadaElem" href="Register">Registrarse</a></li>
		</ul>
		<ul class="nave" *ngIf="getCurrentUser() != null">
			<li class="elem"><a class="cadaElem" href="MainPage" (click)="logOut()">Cerrar Sesión</a></li>
		</ul>
		<div class="sobre"> <a class="cadaElem" href="sobreNosotros">Sobre nosotros</a> </div>
		<div class="colab"> <a class="cadaElem" href="colabora">Colabora</a> </div>
		<div class="ong"> <a class="cadaElem" href="ongColaboradoras">ONG colaboradoras</a> </div>
		<a href="MainPage"><img src="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/PageUIImages%2Flogo.png?alt=media&token=8625a1b5-8f7d-4c7f-893d-cab248d5f88b" alt="Logo" class="logo"></a>
	</div>
  <div class="cuerpo" *ngIf=" getCurrentUser() != null && (getCurrentUser().type == 'admin' || getCurrentUser().type == 'ong')">
		<div class="Notificated_animal_structure">
			<section>
				{{animal?.name}}
				<br>
				<img src="{{animal?.images}}">
				<br>
				<form action="">
					<ul class="previous_next">
						<li><button value="1" name="previous"><</button></li>
						<li><button value="1" name="next">></button></li>
					</ul>
				</form>
			</section>

			<section>
				Quieren conocer a {{animal?.name}}
				<br>
				<textarea readonly="true">{{animal?.interested.join("\n")}}</textarea>
			</section>
		</div>
	</div>
</ion-content>
