<ion-header>
</ion-header>

<ion-content>
  <div>
    <a href="MainPage"><img src="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/PageUIImages%2Flogo.png?alt=media&token=8625a1b5-8f7d-4c7f-893d-cab248d5f88b" alt="Logo" class="logging_logo"></a>
  </div>

  <main class="logging_style">
    <img class="logging_image" src="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/PageUIImages%2Fregistrarse.png?alt=media&token=6da2ee48-dc9b-453f-a09a-3091a7439b4c">
    <br><br>
    <img class="logging_subimage" src="https://firebasestorage.googleapis.com/v0/b/dogsandcatsong-ded69.appspot.com/o/PageUIImages%2Fprofile_icon.png?alt=media&token=4a7cb207-5748-4756-83b6-a32015f5c8a3">
    <div>
      <input type="text" id="registername" pattern="([A-Z])([a-z]{1,})|(([A-Z])([a-z]{1,}\s)([A-Z])([a-z]{1,}))" required name="nombre" placeholder="Nombre">
      <input type="text" id="registersurname" pattern="([A-Z])([a-z]{1,})|(([A-Z])([a-z]{1,}\s)([A-Z])([a-z]{1,}))" required name="apellidos" placeholder="Apellidos">
      <br><br>
      <input type="text" id="registermail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="mail" placeholder="Email" size="30">
      <br><br>
      <input type="password" id="registerpassword" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" required name="password" placeholder="Password">
      <br><br>
      <input type="button" (click)="registerCheck()" value="Registrar">
    </div>
  </main>

  <footer class="logging_style">
    ¿Ya tienes una cuenta? <a href="LogIn">Iniciar sesión</a>
    <br><br>
    ¿Quiere registrar un refugio? <a href="RegisterONG">Registrar refugio</a>
  </footer>
</ion-content>
